/* Created 22_05_2022 */

@import "partials/variables";
@import "partials/keyframes";
@import "partials/mobile";
@import "partials/medium";
@import "partials/desktop";
@import "partials/gallery";
@import "partials/glitch";
@import "partials/experience";
@import "partials/menu";



/* Generals */

html, body{
  background: $primary;
  scroll-behavior: smooth;
  margin: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $secondary;
  color: $primary;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 100px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}



.header-background {
  position:fixed;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}

.header-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .header-content {
    nav {
      display: flex;
      justify-content: space-evenly;
      padding-top: 50px;
      padding-left: 0px;
      width: 95%;
      #logo {
        font-family: 'Raleway', sans-serif;
      }
    }
  }
}


.circle-down {
  margin-top: -40px;
  margin-bottom: 120px;
  a {
    position: relative;
    text-decoration: none;
    font-size: 35px;
    i {
      color: $secondary;
    }
  }
}

@media #{$desktop} {
  .header-content {
    position: relative;
    grid-area: 1 / 2 / 13 / 12;
    animation: fadein 8s;
    .header-elements {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: -10px;
      .face-image {
        position: relative;
        img {
          width: 750px;
          margin-left: -150px;
        }
      }
      .type-writer-text {
        display: none;
      }
      @media screen and (min-width: 1201px) and (max-width: 1600px) {
        .mega-text {
          color: $primary;
          text-shadow: 0 0 2px #fff;
          font-family: $font;
          font-size: 53px;
          h1 {
            margin-top: 100px;
            margin-left: 100px;
          }
        }
        .face-image {
          position: relative;
          img {
            width: 600px;
            margin-left: -150px;
          }
        }
      }
      @media screen and (min-width: 1601px)  {
        .mega-text {
          color: $primary;
          text-shadow: 0 0 2px #fff;
          font-family: $font;
          font-size: 70px;
          h1 {
            margin-top: 0;
            margin-left: 150px;
          }
        }
        a {
          position: relative;
          text-decoration: none;
          font-size: 35px;
          margin-top: 100px;
          margin-bottom: 50px;
          i {
            color: $secondary;
          }
          i:hover {
            color: gray;
          }
        }
      }
      .break {
        flex-basis: 100%;
      }
    }
  }
  .about-me {
    position: relative;
    display: flex;
    justify-content: center;
    .about-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 50px;
      h1 {
        margin-top: -25px;
        margin-bottom: 0;
        color: $primary;
        text-shadow: 0 0 2px #fff;
        font-family: $font;
        font-size: 85px;
      }
      h2 {
        color: $secondary;
        font-family: $font;
        font-size: 50px;
        margin-top: 0;
      }
      .about-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        background-color: rgba(65, 65, 65, 0.25);
        text-align: center;
        margin-bottom: 60px;
        border-radius: 50px;
        .text {
          width: 100%;
          background-color: rgba(65, 65, 65, 0.25);
          border-radius: 50px 50px 0 0;
          padding: 10px;
          p {
            color: $secondary;
            font-family: $font;
            font-size: 20px;
          }
        }
        .about-img {
          width: 100%;
          height: 500px;
          background-image: url("../images/background.jpg");
          background-size: cover;
          background-position: 25% 66%;
          border-radius: 0 0 25px 25px;
          border-bottom: 20px;
        }
        a {
          font-size: 40px;
          padding: 25px;
          text-decoration: none;
          color: $secondary;
        }
      }
      .circle-down {
        margin-top: 25px;
        i:hover {
          color: gray;
        }
      }
    }
  }
  /*------------- MY SKILLS -----------------*/
  .my-skills {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      position: relative;
      text-align: center;
    }
    .circle-down {
      margin-top: 50px;
    }
    .inner {
      padding-top: 20px;
      .header {
        text-align: center;
        color: $primary;
        text-shadow: 0 0 2px #fff;
        font-family: $font;
        font-size: 60px;
        margin-bottom: 25px;
        h2 {
          color: $secondary;
          text-shadow: 0 0 2px #fff;
          font-family: $font;
          font-size: 35px;
          margin-bottom: 15px;
          margin-top: 30px;
        }
      }
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-gap: 1rem;
      padding: 1rem 80px;
      font-size: 1.2rem;
      .skills-box {
        color: #ddd;
        .skills-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          h3 {
            font-family: $font;
            color: $secondary;
            margin-top: 10px;
            margin-bottom: -10px;
          }
          .skills-img {
            width: 90px;
            height: 90px;
            position: relative;
            border-radius: 45px;
            background-color: $secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            .skills-icon {
              width: 50px;
            }
          }
        }
      }
    }
    .circle-down {
      i:hover {
        color: gray;
      }
    }
  }
  /*---------------- PORTFOLIO ------------------*/
  .portfolio {
    position: relative;
    display: flex;
    justify-content: center;

    .portfolio-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 50px;

      .circle-down {
        margin-top: 50px;
      }

      h1 {
        margin-top: -25px;
        margin-bottom: 0;
        color: $primary;
        text-shadow: 0 0 2px #fff;
        font-family: $font;
        font-size: 85px;
      }

      h2 {
        color: $secondary;
        text-shadow: 0 0 2px #fff;
        font-family: $font;
        font-size: 35px;
        margin-bottom: 15px;
        margin-top: 30px;
      }
    }
    .circle-down {
      i:hover {
        color: gray;
      }
    }
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .header-elements {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

/*-------------- TESTIMONIALS ----------------- */
.testimonials {
  text-align: center;
  position: relative;
  h1 {
    color: $primary;
    text-shadow: 0 0 2px #fff;
    font-family: $font;
    font-size: 85px;
    @media screen and (max-width: 780px) {
      font-size: 45px;
    }
    margin-top: -35px;
    margin-bottom: 150px;
  }
  .testimonials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .column {
      width: 20%;
      padding: 25px;
    }
    .testimonials-content {margin: 0 -5px;}
    .testimonials-content:after {
      content: "";
      display: table;
      clear: both;
    }
    @media screen and (max-width: 780px) {
      .column {
        width: 70%;
        display: block;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 1400px) and (min-width: 781px) {
      .column {
        width: 40%;
        display: block;
        margin-bottom: 20px;
      }
    }
    .card {
      box-shadow:  0 0 2px #fff;
      text-align: center;
      background-color: rgba(42, 42, 42, 0.58);
      height: 300px;
      img {
        border-radius: 50%;
        margin-top: -50px;
        border: 5px solid $primary;
        margin-bottom: -20px;
      }
      h3 {
        color: $primary;
        font-family: $font;
        font-size: 18px;
        margin-bottom: 0;
      }
      h4 {
        margin-top: 0;
        font-size: 12px;
        font-family: $font;
      }
      .curved {
        position: relative;
        background: rgba(255, 255, 255, 0.96);
        height: 100px;
        border-bottom-left-radius: 50% 41%;
        border-bottom-right-radius: 50% 41%;
      }
      .socials {
        margin-top: 10px;
        a {
          text-decoration: none;
        }
        i {
          color: $secondary;
          font-size: 20px;
        }
        i:hover {
          color: gray;
        }
      }
      p {
        color: $secondary;
        font-size: 14px;
        font-family: $font;
        padding: 20px;
      }
    }
  }
  .circle-down {
    margin-top: 25px;
    i:hover {
      color: gray;
    }
  }
}

/*-------------- CONTACT --------------*/

.contact {
  text-align: center;
  margin-bottom: 150px;
  h1 {
    color: $primary;
    text-shadow: 0 0 2px #fff;
    font-family: $font;
    font-size: 85px;
    @media screen and (max-width: 780px) {
      font-size: 55px;
    }
    margin-top: -35px;
    margin-bottom: 50px;
  }
}

.contact-content {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: rgba(42, 42, 42, 0.58);
  box-shadow: 0px 0px 10px 0px #666;
  justify-content: center;
  align-items: center;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
  h2 {
    margin-bottom: 10px;
    color: $secondary;
    font-family: $font;
    font-size: 25px;
  }
  iframe {
    border-radius: 15px;
    filter: grayscale(30%);
  }
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
  margin-top: -10px;
}

.contact-form h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: $secondary;
  font-family: $font;
  font-size: 25px;
}

.form-txt {
  width: 80%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 35px;
  font-family: $font;
  margin-left: 20px;
}

.form-txt::placeholder,
.form-txt-area::placeholder{
  color: $primary;
  padding-left: 25px;
}

.form-txt-area {
  width: 80%;
  height: 150px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 35px;
  margin-left: 20px;
  font-family: $font;
  resize: none;
}

.contact-form-btn {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: $secondary;
  color: $primary;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  margin-left: 20px;
}

.contact-form-btn:hover {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: $primary;
  color: $secondary;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .contact {
    h2 {
      font-size: 15px;
    }
    .form-txt {
      width: 50%;
    }
    .form-txt-area {
      width: 50%;
    }
    .form-txt::placeholder,
    .form-txt-area::placeholder{
      padding-left: 5px;
    }
  }
}

/*----- FOOTER ------*/

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(42, 42, 42, 0.58);
  box-shadow: 0px 0px 10px 0px #666;
  color: white;
  text-align: center;
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .copyright {
      margin-top: 15px;
      margin-left: 15px;
      p {
        font-family: $font;
        font-size: 10px;
      }
      i {
        color: red;
      }
    }
    .socials {
      margin-top: 20px;
      a {
        text-decoration: none;
        color: white;
        padding: 10px;
      }
      i:hover {
        color: gray;
      }
    }
    @media screen and (max-width: 600px) {
      .year {
        display: none;
      }
    }
    .year {
      margin-right: 5%;
      p {
        font-family: $font;
        font-size: 15px;
      }
    }
  }
}


