/* Created 22_05_2022 */

@import "partials/variables";
@import "partials/keyframes";
@import "partials/mobile";
@import "partials/medium";
@import "partials/desktop";
@import "partials/flexbin";
@import "partials/testimonials";


/* Generals */

html, body{
  background: $primary;
  scroll-behavior: smooth;
}

.header-background {
  position:fixed;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}

.header-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.circle-down {
  margin-top: -50px;
  margin-bottom: 120px;
  a {
    position: relative;
    text-decoration: none;
    font-size: 35px;
    i {
      color: $secondary;
    }
  }
}

/*-------------- TESTIMONIALS ----------------- */
.testimonials {
  text-align: center;
  h1 {
    color: $primary;
    text-shadow: 0 0 2px #fff;
    font-family: $font;
    font-size: 85px;
    margin-top: -35px;
    margin-bottom: 150px;
  }
  .testimonials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .column {
      width: 20%;
      padding: 25px;
    }
    .testimonials-content {margin: 0 -5px;}
    .testimonials-content:after {
      content: "";
      display: table;
      clear: both;
    }
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    .card {
      box-shadow:  0 0 2px #fff;
      text-align: center;
      background-color: #2a2a2a;
      height: 300px;
      img {
        border-radius: 50%;
        margin-top: -50px;
        border: 5px solid $primary;
        margin-bottom: -20px;
      }
      h3 {
        color: $primary;
        font-family: $font;
        font-size: 18px;
        margin-bottom: 0;
      }
      h4 {
        margin-top: 0;
        font-size: 12px;
        font-family: $font;
      }
      .curved {
        position: relative;
        background: rgba(255, 255, 255, 0.68);
        height: 100px;
        border-bottom-left-radius: 50% 41%;
        border-bottom-right-radius: 50% 41%;
      }
      p {
        color: $secondary;
        font-family: $font;
        padding: 25px;
      }
    }
  }
}



