/* Created 22_05_2022 */

@import "partials/variables";
@import "partials/keyframes";
@import "partials/mobile";
@import "partials/medium";
@import "partials/desktop";
@import "partials/flexbin";

/* Generals */

html, body{
  background: $primary;
  scroll-behavior: smooth;
}

.header-background {
  position:fixed;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}

.header-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.circle-down {
  margin-top: -50px;
  margin-bottom: 120px;
  a {
    position: relative;
    text-decoration: none;
    font-size: 35px;
    i {
      color: $secondary;
    }
  }
}




