@charset "UTF-8";
/* Created 22_05_2022 */
/* Created 22_05_2022 */
/* Anthony D. Portfolio V1.0  (Web Dev Year1 Final HTML/CSS Project)

/* Variables principales utilisées dans le portfolio */
/* Couleurs */
/* Polices & tailles */
/* Mobile */
/* Tablette */
/* Desktop */
/* Medias */
/* On considère que Mobile est le média par défaut */
/* Tablette */
/* Desktop */
/*  Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 13em;
  }
}
@keyframes cursorblink {
  from {
    border-right: 1px solid #dedede;
  }
  to {
    border-right: 1px solid #666;
  }
}
/* Mobile (Default) */
@media screen and (max-width: 767px) {
  .large-menu {
    display: none;
  }

  .header-content {
    grid-area: 1/1/13/13;
    font-size: 21px;
    text-align: center;
    animation: fadein 8s;
  }

  .topnav {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* Sidenav menu */
  }
  .topnav h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    margin-left: 25px;
    text-decoration: underline 1px solid;
    text-underline-offset: 5px;
  }
  .topnav .sidenav {
    height: 300px;
    width: 250px;
    position: fixed;
    z-index: 98;
    top: 0;
    left: -250px;
    background-color: rgba(44, 44, 44, 0.57);
    padding-top: 60px;
    transition: left 0.5s ease;
    margin-top: 220px;
  }
  .topnav .sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .topnav .sidenav a:hover {
    color: #111;
  }
  .topnav .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .topnav .sidenav.active {
    left: 0;
  }
  .topnav .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .topnav .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #f1f1f1;
    margin: 6px 0;
  }
  .topnav #openBtn {
    margin-top: 40px;
    margin-right: 40px;
  }

  .header-elements {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }
  .header-elements .face-image img {
    position: relative;
    margin: auto;
    margin-left: 20px;
    margin-top: 50px;
    width: 80%;
    height: auto;
  }
  .header-elements .mega-text {
    display: none;
  }
  .header-elements .type-writer-text {
    text-align: center;
    margin: auto;
    color: #dedede;
    font-size: 26px;
    font-family: "Anonymous Pro", monospace;
    border-right: 1px solid #dedede;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 8s steps(50) 0.5s 1 normal both, cursorblink 0.5s infinite;
    margin-bottom: 90px;
  }

  /* --------------- ABOUT ME --------------- */
  .about-me {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .about-me .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .about-me .about-content h1 {
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 70px;
    margin-bottom: 25px;
  }
  .about-me .about-content h2 {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    margin-top: 0;
  }
  .about-me .about-content .about-box {
    border: 0.5px solid rgba(255, 255, 255, 0.58);
    width: 80%;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 55px;
  }
  .about-me .about-content .about-box p {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
  }
  .about-me .about-content .about-box .about-img {
    border-radius: 15px;
    width: 100%;
    height: 500px;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }
  .about-me .about-content .about-box .circle-down a {
    padding: 20px;
    text-decoration: none;
  }
  .about-me .about-content .about-box .circle-down i {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }

  /*----------- MY SKILLS ----------------------*/
  .my-skills * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }
  .my-skills .circle-down {
    margin-top: 15px;
  }
  .my-skills .inner {
    padding-top: 20px;
  }
  .my-skills .inner .header {
    text-align: center;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 60px;
    margin-bottom: 25px;
  }
  .my-skills .inner .header h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: -20px;
    margin-top: 20px;
  }
  .my-skills .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .my-skills .container .skills-box {
    padding: 0.5rem;
    color: #ddd;
  }
  .my-skills .container .skills-box .skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-skills .container .skills-box .skills-title h3 {
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .my-skills .container .skills-box .skills-title .skills-img {
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-skills .container .skills-box .skills-title .skills-img .skills-icon {
    width: 40px;
  }

  /*------------------ EXPERIENCE -----------------*/
  .experience {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .experience .experience-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .experience .experience-content .circle-down {
    margin-top: 50px;
  }
  .experience .experience-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 55px;
  }
  .experience .experience-content h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .experience .experience-content .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 3rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }

  /*--------------- PORTFOLIO ---------------- */
}
@media screen and (max-width: 767px) and (max-width: 650px) {
  .experience .experience-content .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .experience .experience-content .container .card {
    width: 250px;
    height: 250px;
    background-color: rgba(19, 19, 19, 0.56);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.46);
  }
  .experience .experience-content .container .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.46);
    object-fit: cover;
    filter: grayscale(30%);
  }
  .experience .experience-content .container .card h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 255, 255);
  }
  .experience .experience-content .container .card .date {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  .experience .experience-content .container .card .cursus {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .portfolio .portfolio-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .portfolio .portfolio-content .circle-down {
    margin-top: 50px;
  }
  .portfolio .portfolio-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 60px;
  }
  .portfolio .portfolio-content h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}
/* Medium size */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile-menu {
    display: none;
  }

  .header-content {
    grid-area: 1/2/13/12;
    animation: fadein 8s;
  }
  .header-content .large-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  .header-content .large-menu nav {
    text-align: center;
    margin-top: 15px;
  }
  .header-content .large-menu nav h1 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 55px;
    margin-bottom: 10px;
    text-decoration: underline 0.5px solid white;
    text-underline-offset: 0.5rem;
  }
  .header-content .large-menu nav ul li {
    display: inline;
    padding: 15px;
  }
  .header-content .large-menu nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
  }
  .header-content .large-menu nav ul li a:hover {
    color: rgb(19, 19, 19);
  }

  .header-elements {
    text-align: center;
  }
  .header-elements .face-image img {
    width: 650px;
    margin-bottom: -50px;
  }
  .header-elements .mega-text {
    display: none;
  }
  .header-elements .type-writer-text {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    color: #dedede;
    font-size: 36px;
    font-family: "Anonymous Pro", monospace;
    border-right: 1px solid #dedede;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 8s steps(50) 0.5s 1 normal both, cursorblink 0.5s infinite;
    margin-bottom: 150px;
  }
  .header-elements a {
    position: relative;
    text-decoration: none;
    font-size: 35px;
    color: rgb(255, 255, 255);
  }

  /*------------------- ABOUT ME ------------------- */
  .about-me {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .about-me .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .about-me .about-content h1 {
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 70px;
    margin-bottom: 25px;
  }
  .about-me .about-content h2 {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    margin-top: 0;
  }
  .about-me .about-content .about-box {
    border: 0.5px solid rgba(255, 255, 255, 0.58);
    width: 90%;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 55px;
  }
  .about-me .about-content .about-box p {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
  }
  .about-me .about-content .about-box .about-img {
    border-radius: 15px;
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }
  .about-me .about-content .about-box a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
  }
  .about-me .about-content .about-box i {
    font-size: 25px;
  }

  /*------------------ MY SKILLS ---------------*/
  .my-skills * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }
  .my-skills .circle-down {
    margin-top: 15px;
  }
  .my-skills .inner {
    padding-top: 20px;
  }
  .my-skills .inner .header {
    text-align: center;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 70px;
    margin-bottom: 25px;
  }
  .my-skills .inner .header h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: -20px;
    margin-top: 20px;
  }
  .my-skills .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }
  .my-skills .container .skills-box {
    padding: 1rem;
    color: #ddd;
  }
  .my-skills .container .skills-box .skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-skills .container .skills-box .skills-title h3 {
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .my-skills .container .skills-box .skills-title .skills-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-skills .container .skills-box .skills-title .skills-img .skills-icon {
    width: 50px;
  }

  .experience {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .experience .experience-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .experience .experience-content .circle-down {
    margin-top: 50px;
  }
  .experience .experience-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 85px;
  }
  .experience .experience-content h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .experience .experience-content .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 3rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }
  .experience .experience-content .container .card {
    width: 250px;
    height: 250px;
    background-color: rgba(19, 19, 19, 0.56);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.46);
  }
  .experience .experience-content .container .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.46);
    object-fit: cover;
    filter: grayscale(30%);
  }
  .experience .experience-content .container .card h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 255, 255);
  }
  .experience .experience-content .container .card .date {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  .experience .experience-content .container .card .cursus {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
  }

  /*-------------- PORTFOLIO --------------*/
  .portfolio {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .portfolio .portfolio-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .portfolio .portfolio-content .circle-down {
    margin-top: 50px;
  }
  .portfolio .portfolio-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 85px;
  }
  .portfolio .portfolio-content h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}
/* Desktop Size */
@media screen and (min-width: 1201px) {
  .header-content {
    position: relative;
    grid-area: 1/2/13/12;
    animation: fadein 8s;
  }
  .header-content .mobile-menu {
    display: none;
  }
  .header-content .large-menu {
    height: 120px;
  }
  .header-content .large-menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-content .large-menu nav h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 55px;
    text-decoration: underline 0.5px solid white;
    text-underline-offset: 5px;
  }
  .header-content .large-menu nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }
  .header-content .large-menu nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
  }
  .header-content .header-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
  }
  .header-content .header-elements .face-image {
    position: relative;
  }
  .header-content .header-elements .face-image img {
    width: 750px;
    margin-left: -150px;
  }
  .header-content .header-elements .type-writer-text {
    display: none;
  }

  /*------------- MY SKILLS -----------------*/

  /*--------------- EXPERIENCE ---------------*/

  /*---------------- PORTFOLIO ------------------*/
}
@media screen and (min-width: 1201px) and (min-width: 1201px) and (max-width: 1600px) {
  .header-content .header-elements .mega-text {
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 53px;
  }
  .header-content .header-elements .mega-text h1 {
    margin-top: 100px;
    margin-left: 100px;
  }
  .header-content .header-elements .face-image {
    position: relative;
  }
  .header-content .header-elements .face-image img {
    width: 600px;
    margin-left: -150px;
  }
}
@media screen and (min-width: 1201px) and (min-width: 1601px) {
  .header-content .header-elements .mega-text {
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 70px;
  }
  .header-content .header-elements .mega-text h1 {
    margin-top: 0;
    margin-left: 150px;
  }
  .header-content .header-elements a {
    position: relative;
    text-decoration: none;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .header-content .header-elements a i {
    color: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 1201px) {
  .header-content .header-elements .break {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1201px) {
  .about-me {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .about-me .about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .about-me .about-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 85px;
  }
  .about-me .about-content h2 {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    margin-top: 0;
  }
  .about-me .about-content .about-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(65, 65, 65, 0.25);
    text-align: center;
    margin-bottom: 60px;
    border-radius: 50px;
  }
  .about-me .about-content .about-box .text {
    width: 100%;
    background-color: rgba(65, 65, 65, 0.25);
    border-radius: 50px;
    padding: 10px;
  }
  .about-me .about-content .about-box .text p {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
  }
  .about-me .about-content .about-box .about-img {
    width: 100%;
    height: 500px;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: 25% 66%;
    border-radius: 25px;
    border-bottom: 20px;
  }
  .about-me .about-content .about-box a {
    font-size: 40px;
    padding: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .about-me .about-content .circle-down {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1201px) {
  .my-skills * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }
  .my-skills .circle-down {
    margin-top: 50px;
  }
  .my-skills .inner {
    padding-top: 20px;
  }
  .my-skills .inner .header {
    text-align: center;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 70px;
    margin-bottom: 25px;
  }
  .my-skills .inner .header h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .my-skills .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }
  .my-skills .container .skills-box {
    padding: 1rem;
    color: #ddd;
  }
  .my-skills .container .skills-box .skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-skills .container .skills-box .skills-title h3 {
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .my-skills .container .skills-box .skills-title .skills-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-skills .container .skills-box .skills-title .skills-img .skills-icon {
    width: 50px;
  }
}
@media screen and (min-width: 1201px) {
  .experience {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .experience .experience-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .experience .experience-content .circle-down {
    margin-top: 50px;
  }
  .experience .experience-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 85px;
  }
  .experience .experience-content h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .experience .experience-content .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 7rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .experience .experience-content .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1201px) {
  .experience .experience-content .container .card {
    width: 250px;
    height: 250px;
    background-color: rgba(19, 19, 19, 0.56);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.46);
  }
  .experience .experience-content .container .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.46);
    object-fit: cover;
    filter: grayscale(30%);
  }
  .experience .experience-content .container .card h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 255, 255);
  }
  .experience .experience-content .container .card .date {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  .experience .experience-content .container .card .cursus {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
  }
}
@media screen and (min-width: 1201px) {
  .experience .experience-content #container2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1201px) {
  .portfolio {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .portfolio .portfolio-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .portfolio .portfolio-content .circle-down {
    margin-top: 50px;
  }
  .portfolio .portfolio-content h1 {
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 85px;
  }
  .portfolio .portfolio-content h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .header-elements {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
.flexbin {
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  margin: -2.5px;
}
.flexbin:after {
  content: "";
  flex-grow: 999999999;
  min-width: 300px;
  height: 0;
}
.flexbin > * {
  position: relative;
  display: block;
  height: 300px;
  margin: 2.5px;
  flex-grow: 1;
}
.flexbin > * > img {
  height: 300px;
  vertical-align: bottom;
  opacity: 0.8;
}
@media screen and (min-width: 1201px) {
  .flexbin.flexbin-margin {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .flexbin.flexbin-margin {
    margin: 90px;
  }
}
@media screen and (max-width: 767px) {
  .flexbin.flexbin-margin {
    margin: 30px;
  }
}
@media (max-width: 980px) {
  .flexbin {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    margin: -2.5px;
  }
  .flexbin:after {
    content: "";
    flex-grow: 999999999;
    min-width: 150px;
    height: 0;
  }
  .flexbin > * {
    position: relative;
    display: block;
    height: 150px;
    margin: 2.5px;
    flex-grow: 1;
  }
  .flexbin > * > img {
    height: 150px;
    vertical-align: bottom;
    opacity: 0.8;
  }
}
@media screen and (max-width: 980px) and (min-width: 1201px) {
  .flexbin.flexbin-margin {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 980px) and (min-width: 768px) and (max-width: 1200px) {
  .flexbin.flexbin-margin {
    margin: 90px;
  }
}
@media screen and (max-width: 980px) and (max-width: 767px) {
  .flexbin.flexbin-margin {
    margin: 30px;
  }
}
@media (max-width: 400px) {
  .flexbin {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    margin: -2.5px;
  }
  .flexbin:after {
    content: "";
    flex-grow: 999999999;
    min-width: 100px;
    height: 0;
  }
  .flexbin > * {
    position: relative;
    display: block;
    height: 100px;
    margin: 2.5px;
    flex-grow: 1;
  }
  .flexbin > * > img {
    height: 100px;
    vertical-align: bottom;
    opacity: 0.8;
  }
}
@media screen and (max-width: 400px) and (min-width: 1201px) {
  .flexbin.flexbin-margin {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 400px) and (min-width: 768px) and (max-width: 1200px) {
  .flexbin.flexbin-margin {
    margin: 90px;
  }
}
@media screen and (max-width: 400px) and (max-width: 767px) {
  .flexbin.flexbin-margin {
    margin: 30px;
  }
}
.flexbin img {
  position: relative;
  opacity: 0.8;
  filter: grayscale(20%);
  object-fit: cover;
}
.flexbin img:hover {
  z-index: 100;
  transform: scale(1.5);
  opacity: 1;
}

/* Generals */
html, body {
  background: rgb(19, 19, 19);
  scroll-behavior: smooth;
  margin: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 19);
  cursor: pointer;
  padding: 15px;
  margin-bottom: 100px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

.header-background {
  position: fixed;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.header-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.header-box .header-content nav {
  width: 80%;
}

.circle-down {
  margin-top: -40px;
  margin-bottom: 120px;
}
.circle-down a {
  position: relative;
  text-decoration: none;
  font-size: 35px;
}
.circle-down a i {
  color: rgb(255, 255, 255);
}

/*-------------- TESTIMONIALS ----------------- */
.testimonials {
  text-align: center;
  position: relative;
}
.testimonials h1 {
  color: rgb(19, 19, 19);
  text-shadow: 0 0 2px #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 85px;
  margin-top: -35px;
  margin-bottom: 150px;
}
@media screen and (max-width: 780px) {
  .testimonials h1 {
    font-size: 55px;
  }
}
.testimonials .testimonials-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonials .testimonials-content .column {
  width: 20%;
  padding: 25px;
}
.testimonials .testimonials-content .testimonials-content {
  margin: 0 -5px;
}
.testimonials .testimonials-content .testimonials-content:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 780px) {
  .testimonials .testimonials-content .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1400px) and (min-width: 781px) {
  .testimonials .testimonials-content .column {
    width: 40%;
    display: block;
    margin-bottom: 20px;
  }
}
.testimonials .testimonials-content .card {
  box-shadow: 0 0 2px #fff;
  text-align: center;
  background-color: rgba(42, 42, 42, 0.58);
  height: 300px;
}
.testimonials .testimonials-content .card img {
  border-radius: 50%;
  margin-top: -50px;
  border: 5px solid rgb(19, 19, 19);
  margin-bottom: -20px;
}
.testimonials .testimonials-content .card h3 {
  color: rgb(19, 19, 19);
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  margin-bottom: 0;
}
.testimonials .testimonials-content .card h4 {
  margin-top: 0;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
}
.testimonials .testimonials-content .card .curved {
  position: relative;
  background: rgba(255, 255, 255, 0.68);
  height: 100px;
  border-bottom-left-radius: 50% 41%;
  border-bottom-right-radius: 50% 41%;
}
.testimonials .testimonials-content .card .socials {
  margin-top: 10px;
}
.testimonials .testimonials-content .card .socials a {
  text-decoration: none;
}
.testimonials .testimonials-content .card .socials i {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.testimonials .testimonials-content .card p {
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  padding: 20px;
}
.testimonials .circle-down {
  margin-top: 25px;
}

/*-------------- CONTACT --------------*/
.contact {
  text-align: center;
  margin-bottom: 150px;
}
.contact h1 {
  color: rgb(19, 19, 19);
  text-shadow: 0 0 2px #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 85px;
  margin-top: -35px;
  margin-bottom: 50px;
}
@media screen and (max-width: 780px) {
  .contact h1 {
    font-size: 55px;
  }
}

.contact-content {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: rgba(42, 42, 42, 0.58);
  box-shadow: 0px 0px 10px 0px #666;
  justify-content: center;
  align-items: center;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
}
.contact-map h2 {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
}
.contact-map iframe {
  border-radius: 15px;
  filter: grayscale(30%);
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
  margin-top: -10px;
}

.contact-form h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
}

.form-txt {
  width: 80%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 35px;
  font-family: "Roboto Mono", monospace;
  margin-left: 20px;
}

.form-txt::placeholder,
.form-txt-area::placeholder {
  color: rgb(19, 19, 19);
  padding-left: 25px;
}

.form-txt-area {
  width: 80%;
  height: 150px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 35px;
  margin-left: 20px;
  font-family: "Roboto Mono", monospace;
  resize: none;
}

.contact-form-btn {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  color: rgb(19, 19, 19);
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  margin-left: 20px;
}

.contact-form-btn:hover {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .contact h2 {
    font-size: 15px;
  }
  .contact .form-txt {
    width: 50%;
  }
  .contact .form-txt-area {
    width: 50%;
  }
  .contact .form-txt::placeholder,
.contact .form-txt-area::placeholder {
    padding-left: 5px;
  }
}
/*----- FOOTER ------*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(42, 42, 42, 0.58);
  box-shadow: 0px 0px 10px 0px #666;
  color: white;
  text-align: center;
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-content .copyright {
  margin-top: 15px;
  margin-left: 15px;
}
.footer .footer-content .copyright p {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}
.footer .footer-content .socials {
  margin-top: 20px;
}
.footer .footer-content .socials a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .footer .footer-content .year {
    display: none;
  }
}
.footer .footer-content .year {
  margin-right: 5%;
}
.footer .footer-content .year p {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}

nav {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0 5%;
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
}
nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  nav {
    padding: 0 5%;
    padding-top: 50px;
  }
}
nav #logo {
  float: left;
  line-height: 50px;
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 1000px) {
  nav #logo {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1250px) {
  nav #logo {
    font-size: 55px;
  }
}
nav #nav-container {
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  nav #nav-container {
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    left: 0;
    top: 50px;
    width: 100%;
    transition: max-height 0.2s ease-in-out;
    margin-top: 50px;
  }
}
nav #nav-container a {
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  line-height: 50px;
  transition: all 100ms ease-in-out;
  display: inline-block;
  padding: 0 15px;
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1200px) {
  nav #nav-container a {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  nav #nav-container a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  nav #nav-container a {
    display: block;
    color: white;
    background-color: rgb(19, 19, 19);
    text-align: center;
    z-index: 100;
  }
}
nav #nav-container a:hover {
  background-color: rgb(19, 19, 19);
}
@media only screen and (max-width: 1000px) {
  nav #nav-container a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
    z-index: 100;
  }
}
nav #nav-container.active {
  padding-bottom: 25px;
  max-height: 300px;
  z-index: 100;
}
nav #nav-toggle {
  float: right;
  display: none;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1000px) {
  nav #nav-toggle {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
