/* Desktop Size */


@media #{$desktop} {
  .header-content {
    position: relative;
    grid-area: 1 / 2 / 13 / 12;
    animation: fadein 8s;
    .mobile-menu {
      display: none;
    }
    .large-menu {
      height: 120px;
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: $secondary;
          font-family: $font;
          font-size: $desk-big-title-size;
          text-decoration: underline 0.5px solid white;
          text-underline-offset: 5px;
        }
        ul {
          li {
            display: inline;
            list-style-type: none;
            margin-right: 20px;
            a {
              text-decoration: none;
              color: $secondary;
              font-family: $font;
              font-size: 20px;
            }
          }
        }
      }
    }
    .header-elements {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .face-image {
        position: relative;
        img {
          width: 750px;
          margin-left: -150px;
        }
      }
      .type-writer-text {
        display: none;
      }
      @media screen and (min-width: 1201px) and (max-width: 1600px) {
        .mega-text {
          color: $primary;
          text-shadow: 0 0 2px #fff;
          font-family: $font;
          font-size: 53px;
          h1 {
            margin-top: 100px;
            margin-left: 100px;
          }
        }
        .face-image {
          position: relative;
          img {
            width: 600px;
            margin-left: -150px;
          }
        }
        a {
          position: relative;
          text-decoration: none;
          font-size: 35px;
          margin-top: 50px;

          i {
            color: $secondary;
          }
        }
      }
      @media screen and (min-width: 1601px)  {
        .mega-text {
          color: $primary;
          text-shadow: 0 0 2px #fff;
          font-family: $font;
          font-size: 70px;
          h1 {
            margin-top: 0;
            margin-left: 150px;
          }
      }
        a {
          position: relative;
          text-decoration: none;
          font-size: 35px;
          margin-top: -100px;
          i {
            color: $secondary;
          }
      }
      }
      .break {
        flex-basis: 100%;
      }
    }
  }
}