$flexbin-row-height: 300px !default;
$flexbin-space: 5px !default;

$flexbin-tablet-max: 980px !default;
$flexbin-row-height-tablet: 150px !default;
$flexbin-space-tablet: $flexbin-space !default;

$flexbin-phone-max: 400px !default;
$flexbin-row-height-phone: 100px !default;
$flexbin-space-phone: $flexbin-space !default;

@mixin flexbin($row-height, $space) {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    margin: - $space / 2;

    &:after {
        content: '';
        flex-grow: 999999999;
        min-width: $row-height;
        height: 0;
    }

    > * {
        position: relative;
        display: block;
        height: $row-height;
        margin: $space / 2;
        flex-grow: 1;

        > img {
            height: $row-height;
            vertical-align: bottom;
            opacity: 0.8;
        }
    }

    @media #{$desktop} {
        &.flexbin-margin {
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 35px;
        }
    }
    @media #{$medium} {
        &.flexbin-margin {
            margin: 90px;
        }
    }
    @media #{$mobile} {
        &.flexbin-margin {
            margin: 30px;
        }
    }
}

.flexbin {
    @include flexbin($flexbin-row-height, $flexbin-space);

    @media (max-width: $flexbin-tablet-max) {
        @include flexbin($flexbin-row-height-tablet, $flexbin-space-tablet);
    }

    @media (max-width: $flexbin-phone-max) {
        @include flexbin($flexbin-row-height-phone, $flexbin-space-phone);
    }
    img {
        position: relative;
        opacity: 0.8;
        filter: grayscale(20%);
        object-fit: cover;
    }
    img:hover {
        z-index: 100;
        transform: scale(1.5);
        opacity: 1;
    }
    .last-photo {
        width: 50%;
        object-fit: cover;
    }
}


