.row {
  position: relative;
  display: flex;
  padding: 0 4px;
  width: 80%;
}

.columns {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columns img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;
  filter: grayscale(30%);
  opacity: 0.8;
  z-index: 50;
}
.columns img:active {
  z-index: 100;
  opacity: 1;
}
.columns img:hover {
  z-index: 100;
  opacity: 1;
}


@media screen and (max-width: 800px) {

  .columns img {
    z-index: 2;
    position: relative;
  }
  .columns img:active {
    z-index: 100;
    transform: scale(2);
    opacity: 1;
  }
  .columns img:hover {
    transform: scale(2);
    opacity: 1;
    z-index: 100;
  }
}

@media screen and (max-width: 600px) {

  .columns img:active {
    z-index: 100;
    transform: scale(2);
    opacity: 1;
  }
  .columns img:hover {
    z-index: 1000;
    transform: scale(2);
    opacity: 1;
  }
}