/*  Keyframes */

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 13em;
  }
}

@keyframes cursorblink {
  from {
    border-right: 1px solid #dedede;
  }

  to {
    border-right: 1px solid #666;
  }
}