/* Medium size */


@media #{$medium} {
  .mobile-menu {
    display: none;
  }
  .header-content {
    grid-area: 1 / 2 / 13 / 12;
    animation: fadein 8s;
    .large-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      nav {
        text-align: center;
        margin-top: 15px;
        h1 {
          color: white;
          font-family: $font;
          font-size: $desk-big-title-size;
          margin-bottom: 10px;
          text-decoration: underline 0.5px solid white;
          text-underline-offset: 0.5rem;
        }
        ul {
          li {
            display: inline;
            padding: 15px;
            a {
              text-decoration: none;
              color: $secondary;
              font-family: $font;
            }
            a:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .header-elements {
    text-align: center;
    .face-image {
      img {
        width: 650px;
        margin-bottom: -50px;
      }
    }
    .mega-text {
      display: none;
    }
    .type-writer-text {
      text-align: center;
      margin: auto;
      margin-bottom: 15px;
      color: #dedede;
      font-size: 36px;
      font-family: 'Anonymous Pro', monospace;
      border-right: 1px solid #dedede;
      white-space: nowrap;
      overflow: hidden;
      animation: typewriter 8s steps(50) 0.5s 1 normal both,
      cursorblink 0.5s infinite;
    }
    a {
      position: relative;
      text-decoration: none;
      font-size: 35px;
      color: $secondary;
    }
  }
}