/* Medium size */


@media #{$medium} {
  .mobile-menu {
    display: none;
  }
  .header-content {
    grid-area: 1 / 2 / 13 / 12;
    animation: fadein 8s;
    .large-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      nav {
        text-align: center;
        margin-top: 15px;
        h1 {
          color: white;
          font-family: $font;
          font-size: $desk-big-title-size;
          margin-bottom: 10px;
          text-decoration: underline 0.5px solid white;
          text-underline-offset: 0.5rem;
        }
        ul {
          li {
            display: inline;
            padding: 15px;
            a {
              text-decoration: none;
              color: $secondary;
              font-family: $font;
            }
            a:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .header-elements {
    text-align: center;
    .face-image {
      img {
        width: 650px;
        margin-bottom: -50px;
      }
    }
    .mega-text {
      display: none;
    }
    .type-writer-text {
      text-align: center;
      margin: auto;
      margin-bottom: 15px;
      color: #dedede;
      font-size: 36px;
      font-family: 'Anonymous Pro', monospace;
      border-right: 1px solid #dedede;
      white-space: nowrap;
      overflow: hidden;
      animation: typewriter 8s steps(50) 0.5s 1 normal both,
      cursorblink 0.5s infinite;
      margin-bottom: 150px;
    }
    a {
      position: relative;
      text-decoration: none;
      font-size: 35px;
      color: $secondary;
    }
  }
  /*------------------- ABOUT ME ------------------- */
  .about-me {
    position: relative;
    display: flex;
    justify-content: center;
    .about-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      h1 {
        color: $primary;
        text-shadow: 0 0 2px #fff;
        font-family: $font;
        font-size: 70px;
        margin-bottom: 25px;
      }
      h2 {
        color: $secondary;
        font-family: $font;
        font-size: 40px;
        margin-top: 0;
      }
      .about-box {
        border: 0.5px solid rgba(255, 255, 255, 0.58);
        width: 90%;
        padding: 10px;
        padding-bottom: 25px;
        margin-bottom: 55px;
        p {
          color: $secondary;
          font-family: $font;
        }
        .about-img {
          border-radius: 15px;
          text-align: center;
          width: 100%;
          height: 500px;
          background-image: url("/PortFolio/images/904924e3-7fd0-4722-8e25-fb2d23fa48d8 (1).jpg");
          background-size: cover;
          background-position: center;
          margin-bottom: 20px;
        }
        a {
          text-decoration: none;
          color: $secondary;
          padding: 20px;
        }
        i {
          font-size: 25px;
        }
      }
    }
  }
  /*------------------ MY SKILLS ---------------*/
  .my-skills {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .inner {
      padding-top: 20px;
      .header {
        color: $primary;
        text-shadow: 0 0 2px #fff;
        font-family: $font;
        font-size: 70px;
        margin-bottom: 25px;
      }
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-gap: 1rem;
      padding: 1rem 80px;
      font-size: 1.2rem;
      .skills-box {
        padding: 1rem;
        color: #ddd;
        cursor: pointer;
        .skills-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          h3 {
            color: $secondary;
            margin: 0.5rem;

          }
          .skills-img {
            width: 90px;
            height: 90px;
            position: relative;
            border-radius: 45px;
            background-color: $secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            .skills-icon {
              width: 50px;
            }
          }
        }
      }
    }
  }
}