/* Created 22_05_2022 */
/* Anthony D. Portfolio V1.0  (Web Dev Year1 Final HTML/CSS Project)

/* Variables principales utilisées dans le portfolio */


/* Couleurs */

$primary: #131313;
$secondary: rgba(255, 255, 255, 0.89);
$optional: #440707;

/* Polices & tailles */

$font: 'Roboto Mono', monospace;

/* Mobile */
$mobile-big-title-size: 40px;
/* Tablette */


/* Desktop */
$desk-big-title-size: 55px;
$desk-title-size: 40px;

/* Medias */
/* On considère que Mobile est le média par défaut */
$mobile: "screen and (max-width: 767px)";
/* Tablette */
$medium: "screen and (min-width: 768px) and (max-width: 1200px)";

/* Desktop */
$desktop: "screen and (min-width: 1201px)";


