/* Created 22_05_2022 */
/* Anthony D. Portfolio V1.0  (Web Dev Year1 Final HTML/CSS Project)

/* Variables principales utilisées dans le portfolio */


/* Couleurs */

$primary: #131313;
$secondary: #f8f8f8;
$optional: #440707;

/* Polices & tailles */

$font: 'Roboto Mono', monospace;
$big-title-size: 55px;
$title-size: 40px;


